USE [master]
GO
/****** Object:  Database [UUPPsunsum]    Script Date: 05.07.2026 0:09:02 ******/
CREATE DATABASE [UUPPsunsum]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'UUPPsunsum', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLPASHKA\MSSQL\DATA\UUPPsunsum.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'UUPPsunsum_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLPASHKA\MSSQL\DATA\UUPPsunsum_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [UUPPsunsum].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [UUPPsunsum]
GO
/****** Object:  Table [dbo].[Заказы]    Script Date: 05.07.2026 0:09:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Заказы](
	[Идентификатор] [int] IDENTITY(1,1) NOT NULL,
	[ИдентификаторПользователя] [int] NOT NULL,
	[ДатаЗаказа] [datetime] NOT NULL,
	[Статус] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Идентификатор] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Настройки]    Script Date: 05.07.2026 0:09:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Настройки](
	[Идентификатор] [int] IDENTITY(1,1) NOT NULL,
	[Ключ] [nvarchar](50) NOT NULL,
	[Значение] [decimal](5, 2) NOT NULL,
	[Описание] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[Идентификатор] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Ключ] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Позиции Заказов]    Script Date: 05.07.2026 0:09:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Позиции Заказов](
	[Идентификатор] [int] IDENTITY(1,1) NOT NULL,
	[ИдентификаторЗаказа] [int] NOT NULL,
	[ИдентификаторТовара] [int] NOT NULL,
	[Количество] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Идентификатор] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Пользователи]    Script Date: 05.07.2026 0:09:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Пользователи](
	[Идентификатор] [int] IDENTITY(1,1) NOT NULL,
	[Логин] [nvarchar](50) NOT NULL,
	[Пароль] [nvarchar](255) NOT NULL,
	[Роль] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Идентификатор] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Логин] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Просмотры]    Script Date: 05.07.2026 0:09:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Просмотры](
	[Идентификатор] [int] IDENTITY(1,1) NOT NULL,
	[ИдентификаторПользователя] [int] NOT NULL,
	[ИдентификаторТовара] [int] NOT NULL,
	[ДатаПросмотра] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Идентификатор] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Рекомендации]    Script Date: 05.07.2026 0:09:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Рекомендации](
	[Идентификатор] [int] IDENTITY(1,1) NOT NULL,
	[ИдентификаторПользователя] [int] NOT NULL,
	[ИдентификаторТовара] [int] NOT NULL,
	[ДатаГенерации] [datetime] NOT NULL,
	[Рейтинг] [decimal](5, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Идентификатор] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Товары]    Script Date: 05.07.2026 0:09:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Товары](
	[Идентификатор] [int] IDENTITY(1,1) NOT NULL,
	[Название] [nvarchar](100) NOT NULL,
	[Категория] [nvarchar](50) NOT NULL,
	[Цена] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Идентификатор] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Название] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Заказы] ADD  DEFAULT (getdate()) FOR [ДатаЗаказа]
GO
ALTER TABLE [dbo].[Просмотры] ADD  DEFAULT (getdate()) FOR [ДатаПросмотра]
GO
ALTER TABLE [dbo].[Рекомендации] ADD  DEFAULT (getdate()) FOR [ДатаГенерации]
GO
ALTER TABLE [dbo].[Рекомендации] ADD  DEFAULT ((0)) FOR [Рейтинг]
GO
ALTER TABLE [dbo].[Заказы]  WITH CHECK ADD FOREIGN KEY([ИдентификаторПользователя])
REFERENCES [dbo].[Пользователи] ([Идентификатор])
GO
ALTER TABLE [dbo].[Позиции Заказов]  WITH CHECK ADD FOREIGN KEY([ИдентификаторЗаказа])
REFERENCES [dbo].[Заказы] ([Идентификатор])
GO
ALTER TABLE [dbo].[Позиции Заказов]  WITH CHECK ADD FOREIGN KEY([ИдентификаторТовара])
REFERENCES [dbo].[Товары] ([Идентификатор])
GO
ALTER TABLE [dbo].[Просмотры]  WITH CHECK ADD FOREIGN KEY([ИдентификаторПользователя])
REFERENCES [dbo].[Пользователи] ([Идентификатор])
GO
ALTER TABLE [dbo].[Просмотры]  WITH CHECK ADD FOREIGN KEY([ИдентификаторТовара])
REFERENCES [dbo].[Товары] ([Идентификатор])
GO
ALTER TABLE [dbo].[Рекомендации]  WITH CHECK ADD FOREIGN KEY([ИдентификаторПользователя])
REFERENCES [dbo].[Пользователи] ([Идентификатор])
GO
ALTER TABLE [dbo].[Рекомендации]  WITH CHECK ADD FOREIGN KEY([ИдентификаторТовара])
REFERENCES [dbo].[Товары] ([Идентификатор])
GO
ALTER TABLE [dbo].[Заказы]  WITH CHECK ADD CHECK  (([Статус]='отменён' OR [Статус]='доставлен' OR [Статус]='обработан' OR [Статус]='новый'))
GO
ALTER TABLE [dbo].[Позиции Заказов]  WITH CHECK ADD CHECK  (([Количество]>(0)))
GO
ALTER TABLE [dbo].[Пользователи]  WITH CHECK ADD CHECK  (([Роль]='администратор' OR [Роль]='покупатель'))
GO
ALTER TABLE [dbo].[Рекомендации]  WITH CHECK ADD CHECK  (([Рейтинг]>=(0) AND [Рейтинг]<=(1)))
GO
ALTER TABLE [dbo].[Товары]  WITH CHECK ADD CHECK  (([Цена]>=(0)))
GO
USE [master]
GO
